.section {
  @include section-styles;

  &-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: $text-color;
  }

  &-text {
    text-align: center;
    margin-bottom: 1.5rem;
    color: $text-color;
  }

  &-list {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0;
    color: $text-color;
  }

  li {
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    position: relative;
  }

  &::before {
    content: "•";
    color: $primary-color;
    position: absolute;
    left: 0;
  }

  @include responsive(tablet) {
    margin: 1.5rem 0;
    padding: 1.5rem;
  }

  @include responsive(phone) {
    padding: 1.2rem;

    &-title {
      font-size: 1.5rem;
    }
  }
}
