@use "variables";
@use "utilities";
@use "html";
@use "body";
@use "header";
@use "main";
@use "footer";
@use "navbar";
@use "section";
@use "images";
@use "form";

$text-color: white;

body {
  color: $text-color;
}

.nav-link {
  color: $text-color;
}

.section-title {
  color: $text-color;
}

.section-text {
  color: $text-color;
}

.section-list {
  color: $text-color;
}

.form-control {
  color: $text-color;
}
